<div class="sidebar" data-color="danger" data-image="assets/img/sidebar-4.jpg">
    <div class="logo">
      <a routerLink="/" class="simple-text logo-normal">
        Hallo, {{ this.getCurrentUser() }}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" routerLink="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
      </ul>
    </div>
  </div>